ultralytics
ai-edge-litert
tensorflow
keras_cv
numpy<2
psutil
pandas
matplotlib
prettytable
imageio
grpcio
grpcio-tools
keras-hub
onnx
onnxruntime
onnxslim
onnxruntime-extensions
onnx-tool
PuLP
networkx
readerwriterlock